* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-primary: #003a7c;
	--color-secundary: #9fd40c;
	--color-white: #fff;
	--color-black: #000000;
	--color-dark-red: #7c0800;
	--color-light-blue: #3388e9;
}

body {
	background: var(--color-white);
	color: var(--color-black);
	font-family: 'Roboto', sans-serif;
}

/* Layout general */
.layout {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas: 
		"header header header"
		"main main sidebar"
		"widget-1 widget-2 sidebar"
		"footer footer footer";
}

.layout__header {
	grid-area: header;
}

.layout__main {
	grid-area: main;
}

.layout__sidebar {
	grid-area: sidebar;
}

.layout__widget.widget--1 {
	grid-area: widget-1;
}

.layout__widget.widget--2 {
	grid-area: widget-2;
}

.layout__footer {
	grid-area: footer;
}

/* Componentes */
.header {
	background: var(--color-primary);
	color: var(--color-white);
	padding: 20px;
	border-radius: 4px;
	text-align: center;
}

.header__title {
	font-size: 24px;
}

.main-content {
	background: var(--color-white);
	padding: 20px;
	border-radius: 4px;
    
}

.main-content__title {
	font-size: 1.2rem;
    background-color: var(--color-white);
    border-radius: 5px;
    width: 12rem;
	margin-bottom: 20px ;
    color: var(--color-primary);
}

.tasks {
  background: var(--color-light-blue);
  color: var(--color-blanco);
  padding: 4rem 2rem;
  font-family: var(--fuente-parrafos);
  font-size: 1.5rem;
  border-radius: 10px;
}

.tasks__container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.tasks__card {
  background: var(--color-primary);
  border: 1px solid var(--color-white);
  border-radius: 9px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tasks__card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(239, 239, 241, 0.952);
}

.tasks__content h3 {
  font-size: 2rem;
  padding: 10px 5px;
  background-color: var(--color-secundary);
  color: var(--color-white);
}

.tasks__content p {
  font-size: 1.2rem;
  color: var(--color-white);
  padding: 8px 5px;
}

.tasks__link {
  background-color: var(--color-secundary);
  font-size: auto;
  padding: 0.3rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  transition: color 0.3s ease;
  color: var(--color-primary);
}

.tasks__link:hover {
  color: var(--color-white);
}


.sidebar {
	background: var(--color-secundary);
	color: var(--color-white);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border-radius: 4px;
	text-align: center;
}

.sidebar__img {
    text-decoration: none;
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 5px 5px;
    border-radius: 5px;
}


.footer {
	background: var(--color-primary);
	color: var(--color-light-blue);
	padding: 20px;
	border-radius: 4px;
	text-align: center;
}

.footer__text {
	font-size: 14px;
}

/* Responsive */
@media screen and (max-width: 768px) {
	.layout {
		grid-template-areas: 
			"header header header"
			"main main main"
			"sidebar sidebar sidebar"
			"widget-1 widget-1 widget-2"
			"footer footer footer";
	}
}
