*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: beige;
    padding-top: 2em;
    width: 10vh;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

input[type="radio"] {
    display: none;
}

label {
    cursor: pointer;
    padding: 8px 12px;
    background: #ddd;
    border-radius: 4px;
}

input[type="radio"]:checked + label {
    background: #aaa;
}

.app-frame {
    width: 70%;
    height: 60vh;
    overflow: auto;
    border: none;
    display: none;
}
.bar{
    display: none;
}

body:has(#app1:checked) #frame1,
body:has(#app2:checked) #frame2,
body:has(#app3:checked) #frame3{
    display: block;
}

body:has(#app1:checked) .bar,
body:has(#app2:checked) .bar,
body:has(#app3:checked) .bar{
    display: block;
}

.content{
    border: 1px solid;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body:has(#close:checked) #frame1,
body:has(#close:checked) #frame2,
body:has(#close:checked) #frame3{
    display: none;
}
body:has(#close:checked) .bar,
body:has(#close:checked) .bar,
body:has(#close:checked) .bar{
    display: none;
}
